




#catDiv {
  width: 120px;
}
#catDiv li {
  list-style-type: none; /* ohne Aufzählungspunkte */
}

#catDiv button {
  border: none;
}

#info-div {
  text-align: center;  
}





div {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  width: 300px;
}