backend/target
backend/.vs
backend/.metals
frontend/.metals
frontend/.bloop
backend/.bloop
backend/project/project
backend/project/target
backend/logs
target
frontend/.vs
frontend/logs
frontend/target
frontend/.g8
frontend/project/project
frontend/project/target
settings
.git
.metals
.vscode